<html>
<head>
    <tittle> hello </tittle>
</head>
<body>
    <div>
        <p>Welcome to the django</p>
    </div>

    <div>
        <p>published: 14.06.2014</p>
        <h2><a href="">my first post</a></h2>
        <p>Aenea eu leo quam. pellentesque ornare sem lacinia quam
           venenatis vestibulum. Donec id elit non mi porta gravida at
           eget metus. Fusce depibus, tellus ac cursus commodo,tortor
           mauris condimentum nibh, ut fermentum massa justo sit
           </p>
    </div>

    <div>
        <p>publised: 14.06.2014, 12:14</p>
        <h2><a href="">my second post</a></h2>
        <p>Aenea eu leo quam. pellentesque ornare sem lacinia quam
           venenatis vestibulum. Donec id elit non mi porta gravida at
           eget metus. Fusce depibus, tellus ac cursus commodo,tortor
           mauris condimentum nibh, ut fermentum massa justo sit</p>
    </div>
</body>
<html>